@font-face {
  font-family: "Bai Jamjuree";
  src: url("@/assets/fonts/BaiJamjuree-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("@/assets/fonts/BaiJamjuree-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("@/assets/fonts/BaiJamjuree-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("@/assets/fonts/BaiJamjuree-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("@/assets/fonts/BaiJamjuree-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("@/assets/fonts/BaiJamjuree-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
